[submodule "LIO-SAM"]
    path = LIO-SAM
    url = https://github.com/dayeone/LIO-SAM.git
[submodule "jackal"]
    path = jackal
    url = https://github.com/dayeone/jackal.git
[submodule "jackal_robot"]
    path = jackal_robot
    url = https://github.com/dayeone/jackal_robot.git
[submodule "ouster-ros"]
    path = ouster-ros
    url = https://github.com/dayeone/ouster-ros.git

